@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/valorant');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.mdjr {
  font-family: 'Valorant';
}

* {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.glow-effect {
  filter: blur(20px);
}

.services-grid {
  will-change: transform;
}

.skill-bar {
  will-change: width;
}